.vs/ProjectSettings.json
.vs/Sarty1234.github.io/config/applicationhost.config
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/Sarty1234.github.io/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/Sarty1234.github.io/FileContentIndex/4563a5cd-dc0b-4a10-a41a-383fa894f3c0.vsidx
.vs/slnx.sqlite
